In [4]:
import pandas as pd
import numpy as np
import json

In [54]:
hero_file="purchase_data.json"
info=pd.read_json(hero_file)
info.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [30]:
number_of_players=info['SN'].count()

Total_Players= pd.DataFrame({"Total Players":number_of_players}, index=[0])
Total_Players

   Total Players
0            780

In [58]:
## Purchasing Analysis(Total)
num_of_uniq_items=info["Item Name"].nunique()
avg_price=info['Price'].mean()
num_of_purch=info['Item ID'].count()
tot_reven=info['Price'].sum()

Purchases_tool_table= pd.DataFrame({"Number of Unique Items":num_of_uniq_items, "Average Purchase Price":avg_price,
                                    "Total Number of Purchases":num_of_purch,"Total Revenue":tot_reven}, index=[0])
Purchases_tool_table

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,179,780,2286.33

In [59]:
info["Gender"].unique()

array(['Male', 'Female', 'Other / Non-Disclosed'], dtype=object)

In [110]:
## Gender Demographics

male_filter=info.loc[info['Gender']=='Male'].groupby('Gender')
Female_filter=info.loc[info['Gender']=='Female'].groupby('Gender')
Other_filter=info.loc[info['Gender']=='Other / Non-Disclosed'].groupby('Gender')
##counts
male_count=male_filter['SN'].count()
female_count=Female_filter['SN'].count()
other_count=Other_filter['SN'].count()
## Percentages
male_percentage=(male_count/number_of_players)*100
female_percentage=(female_count/number_of_players)*100
other_percentage=(other_count/number_of_players)*100

In [107]:
d=pd.DataFrame({"percentage":[male_percentage,female_percentage,other_percentage]})
d

   percentage
0   81.153846
1   17.435897
2    1.410256

In [104]:
male_filter=info.loc[info['Gender']=='Male'].groupby('Gender')
male_count=male_filter['SN'].count()
g=pd.DataFrame({"percentage":male_count})
g

        percentage
Gender
Male           633